@page

<div>
    <h2>工具一览</h2>
</div>

<div class="container" style="margin-top:1em;">
    <ul class="list-group">
        <li class="list-group-item"><a href="/tools/barcode/generate" > 二维码生成工具</a></li>
        <li class="list-group-item"><a href="/tools/barcode/decode" > 二维码解码工具</a></li>
    </ul>
</div>