<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        {% block userdefinedhead %}
        {% endblock %}
        <title>{{title}}</title>
    </head>
    <body>

        <div class="container">
            {% block header %}
            {% endblock %}
            
            {% block app %}
            {% endblock %}
            
            {% block footer %}
            {% endblock %}
        </div>
        <div id="App">
        </div>
        {% block userdefinedfoot %}
        {% endblock %}
    </body>
</html>