{% extends 'base.njk' %}

{% from './_components/header/index.njk' import header %}
{% from './_components/footer/index.njk' import footer %}

{% block userdefinedhead %}
    <link rel="stylesheet"  href="/static/css/index.css"/>
{% endblock %}

{% block header %}
{% endblock %}

{% block footer %}
{% endblock %}

{% block userdefinedfoot %}
      {# <script type='text/javascript' src='/static/js/main.js'></script>  #}
      <script type='text/javascript' src="http://lib.baomitu.com/socket.io/2.0.4/socket.io.js"></script>
      <script type='text/javascript'>
            var socket=io();
            socket.emit('chat message', 'hello,world');
      </script>
{% endblock %}