body {
	margin: 0; padding: 0;
	background: #e0e0e0;
	color: #333;
	font: 11px/1.5 verdana, sans-serif;
	}
.cleaner {
	clear: both;
	height: 1px; margin: 0;
	}
#main {
	position: relative;
	width: 780px;
	margin: 0 auto;
	padding: 13px 0 0 0;
	}
#topbg {
	position: absolute; top: 0; left: 0; z-index: -1;
	width: 100%; height: 143px;
	background: #404040;
	}
#header {
	position: relative;
	width: 780px; height: 130px;
	background: gray;
	}

/* @group Header */

#hdr-overlay {
	position: relative; top: -15px; left: 14px;
	width: 780px; height: 145px;
	}
#header h1 {
	display: none;
	}
#header .box {
	position: absolute; top: 6px;
	width: 75px; height: 25px;
	background: silver;
	}
#hdr-box1 { left: 15px }
#hdr-box2 { left: 100px }
#hdr-box3 { left: 185px }
#hdr-box4 { left: 270px }

#header h2 {
	position: absolute; top: 65px; right: 140px;
	margin: 0;
	width: 8em;
	font-size: 15px;
	line-height: 1.33;
	font-weight: bold;
	text-transform: uppercase;
	text-align: right;
	color: white;
	}

/* @end */

/* @group menu */

#menu {
	margin: 0; padding: 1px 0;
	list-style-type: none;
	height: 26px;
	}
#menu li {
	float: left;
	margin: 0; padding: 0;
	width: 20%;
	}
#menu a {
	position: relative;
	display: block;
	margin: 1px;
	height: 24px;
	font-size: 10px;
	line-height: 24px;
	text-decoration: none;
	text-transform: uppercase;
	text-align: center;
	background: gray;
	color: white;
	}
#menu a span {
	display: block;
	position: absolute; top: 5px; left: 8px;
	width: 8px; height: 8px;
	background: white;
	}
#menu a.sel {
	background: silver;
	color: black;
	}
#menu a:hover {
	background: #333;
	color: #ccc;
	}
/* @end */

#content {
	padding: 1px;
	color: #333;
	}
#content a {
	padding: 2px 3px;
	}
#content p {
	margin: 0.25em 0;
	}
#left {
	float: left;
	width: 300px;
	padding: 10px 20px;
	border-right: 1px dotted white;
	}
#left h3 {
	margin: 0.5em 0 0.3em;
	font-size: 18px;
	font-weight: normal;
	}
#left dt {
	float: left;
	font-weight: bold;
	}
#left dd {
	margin: 1em 0 1em 6em;
	}
#ico {
	float: left;
	padding: 5px;
	}
#left h4 {
	margin: 0 0 0 6em;
	font-size: 100%;
	font-weight: bold;
	}
#left ul {
	margin: 0 0 0 6em; padding: 0;
	color: red;
	list-style-type: square;
	list-style-position: inside;
	}

#right {
	float: right;
	width: 390px;
	margin: 0 20px 0 0;
	padding: 10px 0;
	}
#right h3 {
	clear: left;
	margin: 0.5em 0 0.3em 0;
	font-size: 12px;
	}
#right h3 span {
	display: inline-block;
	width: 9px; height: 9px;
	margin-right: 1em;
	border: 1px solid silver;
	vertical-align: middle;
	}
#right .photo {
	float: left;
	margin: 0 15px 15px 0;
	}
#right h4 {
	margin: 0;
	font-size: 100%;
	font-weight: bold;
	}
#right .link {
	text-align: right;
	}
#rbox {
	float: left;
	position: relative;
	width: 180px;
	margin: 15px 0 20px 0;
	padding: 2px 5px 2px 30px;
	font-size: 10px;
	line-height: 1.2;
	}
#rbox span {
	display: block;
	position: absolute; top: 5px; left: 8px;
	width: 8px; height: 8px;
	background: white;
	}
#right button {
	float: right;
	margin: 15px 0 20px 0;
	width: 150px;
	height: 30px;
	background: gray;
	color: black;
	border: 1px solid silver;
	text-align: center;
	font-size: 14px;
	line-height: 25px;
	}

#footer {
	margin: 10px 0 10px 0;
	padding: 5px 0;
	text-align: center;
	border-top: 1px solid gray;
	border-bottom: 1px solid gray;
	}
#footer a {
	padding: 3px 5px;
	}



