{% extends "../../index.njk" %}
{% from "../../_components/header/index.njk" import header %}
{% from "../../_components/footer/index.njk" import footer %}


{% block userdefinedhead %}
    <link rel="stylesheet" href="/static/tool/peise/css/color-tool.css" type="text/css">
    <script type="text/javascript" src="/static/tool/peise/js/jquery-1.3.min.js"></script>
    <script type="text/javascript" src="/static/tool/peise/js/jquery.styledselect.js"></script>
    <script type="text/javascript" src="/static/tool/peise/js/jquery.floatbox.js"></script>
    <script type="text/javascript" src="/static/tool/peise/js/jquery.tooltip.js"></script>
    <script type="text/javascript" src="/static/tool/peise/js/color.js"></script>
    <script type="text/javascript" src="/static/tool/peise/js/app.js"></script>
    <script type="text/javascript" src="/static/tool/peise/js/app_pro.js"></script>
{% endblock %}


{% block header %}
    {{ header() }}
{% endblock %}

{% block app %}
    <div id="jscheck" style="display: none;">
        <h1>高级在线配色工具</h1>
        <div id="load">
            <p>稍等 正在装载...</p>
        </div>
    </div>

    <div id="canvas" style="">

        <h2>
            原作者：<a href="http://www.pixy.cz/index-en.html">Petr Stanicek</a>
            整理：<a href="http://www.itminus.com/">itminus</a>
        </h2>

        <table id="model">
            <tbody>
                <tr>
                    <td>
                        <a id="m1" class="help sel" href="#">单色搭配</a>
                    </td>
                    <td>
                        <a id="m2" class="help" href="#">互补色搭配</a>
                    </td>
                    <td>
                        <a id="m3" class="help" href="#">三角形搭配</a>
                    </td>
                    <td>
                        <a id="m4" class="help" href="#">矩形搭配</a>
                    </td>
                    <td>
                        <a id="m5" class="help" href="#">类似色搭配</a>
                    </td>

                    <td>
                        <a id="m6" class="help" href="#">类似色搭配互补色</a>
                    </td>
                </tr>
            </tbody>
        </table>

        <div id="pane-wheel" class="pane" style="display: none;">
            <div id="wheel">
                <div id="sample" class="bg-pri-0" style="background-color: rgb(255, 0, 0);"></div>
                <div id="wh1"></div>
                <div id="wh2"></div>
                <div id="wh3"></div>
                <div id="wh4"></div>

                <img class="dot help" id="dot1" src="/static/tool/peise/img/e.png" style="left: 183px; top: 74px;">
                <img class="dot help" id="dot2" src="/static/tool/peise/img/e.png">
                <img class="dot help" id="dot3" src="/static/tool/peise/img/e.png">
                <img class="dot help" id="dot4" src="/static/tool/peise/img/e.png">
                <div class="val help" id="hue-val">Hue:
                    <span>0°</span>
                </div>
                <div class="val help" id="dist-val">Angle:
                    <span>30°</span>
                </div>
                <table id="rgb-parts" class="help">

                    <tbody>
                        <tr>
                            <th>R:</th>
                            <td id="rgb-r">100 %</td>
                        </tr>
                        <tr>
                            <th>G:</th>
                            <td id="rgb-g">0 %</td>
                        </tr>
                        <tr>
                            <th>B:</th>
                            <td id="rgb-b">0 %</td>
                        </tr>
                    </tbody>
                </table>
                <div class="val help" id="rgb-val">RGB:
                    <span>FF0000</span>
                </div>

            </div>
        </div>

        <div id="pane-vars" class="pane" style="display: none;">
            <div id="presets" class="help">
                预设:
                <span class="select-replace-cover" style="display: inline-block; position: relative; top: 0px; left: 0px; z-index: 0; vertical-align: middle; text-align: left; width: 251px;">
                    <select style="opacity: 0; visibility: visible; position: absolute; top: 0px; left: 0px; display: inline; z-index: 1;">
                        <option value="">- custom -</option>
                        <option value="default" selected="">Default scheme</option>
                        <option value="hcontrast1">More Contrast</option>
                        <option value="hcontrast2">High Contrast</option>
                        <option value="hcontrast3">Max Contrast</option>
                        <option value="lcontrast1">Less Contrast</option>
                        <option value="lcontrast2">Low Contrast</option>
                        <option value="lcontrast3">Min Contrast</option>
                        <option value="msatur">Medium Dark (saturated)</option>
                        <option value="dsatur">Dark (saturated)</option>
                        <option value="vdsatur">Very Dark (saturated)</option>
                        <option value="pastel">Pastel</option>
                        <option value="mpastel">Medium Dark Pastel</option>
                        <option value="dpastel">Dark Pastel</option>
                        <option value="vdpastel">Very Dark Pastel</option>
                        <option value="palepastel">Light Pale Pastel</option>
                        <option value="mpalepastel">Medium Pale Pastel</option>
                        <option value="dpalepastel">Dark Pale Pastel</option>
                        <option value="vdpalepastel">Very Dark Pale Pastel</option>
                        <option value="lgray">Almost Grays (light)</option>
                        <option value="lagray">Almost Grays with Color Accents (light)</option>
                        <option value="mgray">Almost Grays (medium)</option>
                        <option value="magray">Almost Grays with Color Accents (medium)</option>
                        <option value="dgray">Almost Grays (dark)</option>
                        <option value="dagray">Almost Grays with Color Accents (dark)</option>
                    </select>
                    <span class="select-replace" style="display: block; white-space: nowrap;">Default scheme</span>
                </span>
            </div>
            <div id="saturation-cover">
                <h4>
                    <span id="ttl-c1">配色方案</span>
                    <span id="ttl-c2">选择参数</span>
                    <br>饱和度/明度</h4>

                <div id="saturation" style="background-color: rgb(255, 0, 0);">
                    <div class="slider">
                        <img class="dot help" id="dots" src="/static/tool/peise/img/e.png" style="left: 145px; top: 35px;">
                        <img class="dotv" id="dotv0" src="/static/tool/peise/img/e.png">
                        <img class="dotv" id="dotv1" src="/static/tool/peise/img/e.png">
                        <img class="dotv" id="dotv2" src="/static/tool/peise/img/e.png">
                        <img class="dotv" id="dotv3" src="/static/tool/peise/img/e.png">
                        <img class="dotv" id="dotv4" src="/static/tool/peise/img/e.png">
                    </div>
                </div>
            </div>

            <div id="contrast-cover">
                <div class="tabs" id="tabs-contrast">
                    <a id="tab-c1" class="sel help" href="http://www.peise.net/tools/web/#">配色
                        <br>对比度</a>
                    <a id="tab-c2" class="help" href="http://www.peise.net/tools/web/#">调节
                        <br>参数</a>
                </div>
                <div id="contrast" class="slider">

                    <img class="dot help" id="dotc" src="/static/tool/peise/img/e.png" style="left: 89px; top: 91px;">
                </div>
                <div id="manualvars" class="help">
                </div>
            </div>
        </div>

        <div id="pane-info" class="pane" style="display: block;">
            <div id="coltable">
                <h4>主色:</h4>
                <table class="info-table">
                    <tbody>
                        <tr>
                            <td class="cbox bg-pri-0" style="background-color: rgb(255, 0, 0);"></td>
                            <td class="code">FF0000</td>
                            <td class="cbox bg-pri-1" style="background-color: rgb(191, 48, 48);"></td>
                            <td class="code">BF3030</td>
                            <td class="cbox bg-pri-2" style="background-color: rgb(166, 0, 0);"></td>
                            <td class="code">A60000</td>
                            <td class="cbox bg-pri-3" style="background-color: rgb(255, 64, 64);"></td>
                            <td class="code">FF4040</td>
                            <td class="cbox bg-pri-4" style="background-color: rgb(255, 115, 115);"></td>
                            <td class="code">FF7373</td>
                        </tr>
                    </tbody>
                </table>
            </div>

        </div>

        <div class="tabs" id="tabs-color">
            <a id="tab-wheel" class="help" href="#">色环</a>
            <a id="tab-vars" class="help" href="#">配色方案调节</a>
            <a id="tab-info" class="help sel" href="#">色彩列表</a>
        </div>

        <table id="palette" class="help">
            <tbody>
                <tr>
                    <td class="cbox bg-pri-0" style="background-color: rgb(255, 0, 0);"></td>
                    <td class="cbox bg-sec1-0" style="background-color: rgb(255, 64, 64);"></td>
                    <td class="cbox bg-sec2-0" style="background-color: rgb(255, 115, 115);"></td>
                    <td class="cbox bg-compl-0" style="background-color: rgb(166, 0, 0);"></td>
                </tr>
            </tbody>
        </table>

        <h4 id="schemeid" class="help">配色方案ID:
            <a href="#0011Tw0w0w0w0" target="_blank">0011Tw0w0w0w0</a>
        </h4>

        <div id="preview-palette-canvas" class="help">
            <div id="preview-palette-bg1"></div>
            <div id="preview-palette-bg2"></div>

            <table id="preview-palette">

                <tbody>
                    <tr class="pri">
                        <td class="cbox bg-pri-3" rel="pri-3" style="background-color: rgb(255, 64, 64);"></td>
                        <td class="cbox bg-pri-0" rel="pri-0" rowspan="2" style="background-color: rgb(255, 0, 0);"></td>
                        <td class="cbox bg-pri-1" rel="pri-1" style="background-color: rgb(191, 48, 48);"></td>

                    </tr>
                    <tr class="pri">
                        <td class="cbox bg-pri-4" rel="pri-4" style="background-color: rgb(255, 115, 115);"></td>
                        <td class="cbox bg-pri-2" rel="pri-2" style="background-color: rgb(166, 0, 0);"></td>
                    </tr>

                    <tr class="sec sec1">
                        <td class="cbox bg-sec1-1" rel="sec1-1" style="background-color: rgb(255, 64, 64);"></td>
                        <td class="cbox bg-sec1-0" rel="sec1-0" rowspan="2" style="background-color: rgb(255, 64, 64);"></td>

                        <td class="cbox bg-sec1-3" rel="sec1-3" style="background-color: rgb(255, 64, 64);"></td>
                    </tr>
                    <tr class="sec sec1">
                        <td class="cbox bg-sec1-2" rel="sec1-2" style="background-color: rgb(255, 64, 64);"></td>
                        <td class="cbox bg-sec1-4" rel="sec1-4" style="background-color: rgb(255, 64, 64);"></td>
                    </tr>

                    <tr class="sec sec2">
                        <td class="cbox bg-sec2-1" rel="sec2-1" style="background-color: rgb(255, 115, 115);"></td>

                        <td class="cbox bg-sec2-0" rel="sec2-0" rowspan="2" style="background-color: rgb(255, 115, 115);"></td>
                        <td class="cbox bg-sec2-3" rel="sec2-3" style="background-color: rgb(255, 115, 115);"></td>
                    </tr>
                    <tr class="sec sec2">
                        <td class="cbox bg-sec2-2" rel="sec2-2" style="background-color: rgb(255, 115, 115);"></td>
                        <td class="cbox bg-sec2-4" rel="sec2-4" style="background-color: rgb(255, 115, 115);"></td>
                    </tr>

                    <tr class="compl">

                        <td class="cbox bg-compl-1" rel="compl-1" style="background-color: rgb(166, 0, 0);"></td>
                        <td class="cbox bg-compl-0" rel="compl-0" rowspan="2" style="background-color: rgb(166, 0, 0);"></td>
                        <td class="cbox bg-compl-3" rel="compl-3" style="background-color: rgb(166, 0, 0);"></td>
                    </tr>
                    <tr class="compl">
                        <td class="cbox bg-compl-2" rel="compl-2" style="background-color: rgb(166, 0, 0);"></td>
                        <td class="cbox bg-compl-4" rel="compl-4" style="background-color: rgb(166, 0, 0);"></td>
                    </tr>

                </tbody>
            </table>

        </div>

        <div class="tabs" id="tabs-preview">
            <a id="tab-preview" class="sel help" href="#">配色预览</a>
            <a id="tab-preview2" class="help" href="#">高明度网页演示</a>
            <a id="tab-preview3" class="help" href="#">低明度网页演示</a>

        </div>

        <div id="cb-warning" title="Vision simulation active"></div>

        <div id="showtext" class="help">
            <input id="chk-showtext" type="checkbox">
            <label for="chk-showtext">显示文字</label>
        </div>

        <div id="fps" class="help">fps: 100</div>
    </div>


    <div id="tooltip" class="" style="display: none; left: 342px; right: auto; top: 285px;">
        <h3 style="display: none;"></h3>
        <div class="body">#BF3030</div>
        <div class="url" style="display: none;"></div>
    </div>

{% endblock %}

{% block footer %}
    {{ footer() }}
{% endblock %}

{% block userdefinedfoot %}
      {# <script type='text/javascript' src='/static/js/main.js'></script>  #}
{% endblock %}