<!DOCTYPE html><html>
  <head>
    <meta charSet="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>
      Sample Fornax blog
    </title>
    <base href="/newbienewbie/"/>
    <script>
      document.addEventListener('DOMContentLoaded', () => {

	// Get all "navbar-burger" elements
	const $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);
  
	// Check if there are any navbar burgers
	if ($navbarBurgers.length > 0) {
  
	  // Add a click event on each of them
	  $navbarBurgers.forEach( el => {
		el.addEventListener('click', () => {
  
		  // Get the target from the "data-target" attribute
		  const target = el.dataset.target;
		  const $target = document.getElementById(target);
  
		  // Toggle the "is-active" class on both the "navbar-burger" and the "navbar-menu"
		  el.classList.toggle('is-active');
		  $target.classList.toggle('is-active');
  
		});
	  });
	}
  });
    </script>
    <link rel="icon" type="image/png" sizes="32x32" href="images/favicon.png"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans"/>
    <link rel="stylesheet" href="https://unpkg.com/bulma@0.8.0/css/bulma.min.css"/>
    <link rel="stylesheet" type="text/css" href="style/style.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.2.0/styles/atom-one-dark-reasonable.min.css"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.3.1/highlight.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.3.1/languages/fsharp.min.js"></script>
  </head>
  <body>
    <nav class="navbar">
      <div class="container">
        <div class="navbar-brand">
          <a class="navbar-item" href="">
            <img src="images/bulma.png" alt="Logo"/>
          </a>
          <span class="navbar-burger burger" data-target="navbarMenu">
            <span></span>
            <span></span>
            <span></span>
          </span>
        </div>
        <div id="navbarMenu" class="navbar-menu">
          <a class="navbar-item is-active" href="">
            Home
          </a>
          <a class="navbar-item" href="tags.html">
            Tags
          </a>
          <a class="navbar-item" href="about.html">
            About
          </a>
          <a class="navbar-item" href="contact.html">
            Contact
          </a>
        </div>
      </div>
    </nav>
    <section class="hero is-info is-medium is-bold">
      <div class="hero-body">
        <div class="container has-text-centered">
          <h1 class="title">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit
          </h1>
        </div>
      </div>
    </section>
    <div class="container">
      <section class="articles">
        <div class="column is-8 is-offset-2">
          <div class="card article">
            <div class="card-content">
              <div class="media-content has-text-centered">
                <p class="title article-title">
                  <a href="posts/WindWhisper/PHP/Symfony/Symfony-EventDispatcher.html">
                    Symfony EventDispather
                  </a>
                </p>
                <nav class="breadcrumb">
                  <ul>
                    <li>
                      <a href="">
                        风语
                      </a>
                    </li>
                    <li>
                      <a href="">
                        PHP
                      </a>
                    </li>
                    <li>
                      <a href="">
                        Symfony
                      </a>
                    </li>
                  </ul>
                </nav>
                <p class="post-tags">
                  <a href="tags.html#Symfony">
                    <span class="tag is-info">
                      Symfony
                    </span>
                  </a>
                </p>
                <p class="subtitle is-6 article-subtitle">
                  <a href="#">
                    
                  </a>
                  on 2015-04-10
                </p>
              </div>
              <div class="content article-body">
                <h2>Event和EventDispatcher</h2>
<p>Event是什么？</p>
<p>其实很简单，Event是用于描述“what happens?” 的东西。正因为此，Event对象中通常包含了一些数据，用来表示发生了什么。事实上，事件对象只是在描述发生了什么—准确的说，事件对象提供了一个接口，让别人知道发生了什么。</p>
<p>Symfony/EventDispather 提供了Event基础类来描述“What Happens”，这个基础类非常简单，只是对以下信息进行抽象：</p>
<ul>
<li>Event调度器是谁？（dispatcher属性及getter/setter）</li>
<li>Event是否还能传播？（propagationStopped属性及getter/setter）</li>
<li>Event叫什么名字？（deprecated:name属性及getter/setter））</li>
</ul>
<p>对于包含特殊信息的特定事件，可以继承自Event类，再添加自己对该类事件的特殊属性的抽象。比如：</p>
<pre><code class="language-PHP">class FilterOrderEvent extends Event{

    protected $order;
	public function __construct(){
	    $this-&gt;order=$order;
	}
	
	public function getOrder(){
	    return $this-&gt;getOrder();
	}

}
</code></pre>
<p>这样，FilterOrderEvent事件除了包含Event基础类中那些对发生了什么的描述，还增加了对order这类信息的描述（提供了getOrder()接口让其他人获取Order对象）。</p>
<p>再比如，Symfony/Form组件中的FormEvent类，除了基础的Event属性外，还添加了两个额外属性:</p>
<pre><code class="language-PHP">class FormEvent extends Event
{
    private $form;
    protected $data;
    
    public function __construct(FormInterface $form, $data)
    {
        $this-&gt;form = $form;
        $this-&gt;data = $data;
    }
    
    //....
}
</code></pre>
<p>一个是实现了FormInterface的表单对象$form，代表与当前事件相关的是哪个表单;一个是混合类型的$data参数，用于对特定数据的动态修改，如modelData之类。</p>
<p>很多时候，我们并不仅仅想知道发生了什么，我们还想根据发生了什么做出相应的动作。关于这一点，可以参见Wiki给出的Event定义：</p>
<blockquote>
<p>In computing, an event is an action or occurrence detected by the program that may be handled by the program</p>
</blockquote>
<p>这段话说明了一点很重要的东西：事件应当可以被检测、处理。通常由事件监听器(event listener)或者说事件处理器(event handle)来完成这一工作。</p>
<p>Symfony/EventDispather组件提供了这类对事件发布、调度、监听的功能。</p>
<p>EventDispather对象的dispatch()方法会根据某一个事件对应的Listeners,按优先级逐一进行调用。EventDispather支持两套风格事件处理程序的绑定。最常用的是addListener(),这是一种快速编码的回调风格，类似于JavaScript中的回调函数。还有一种使用Subscriber对象的风格。</p>
<h2>使用具有回调风格的Listener</h2>
<p>添加监听器的方法原型为：</p>
<pre><code class="language-PHP">addListener($eventName,$listener,$priority=0)
</code></pre>
<p>这一方法的关键特征是:传递给addListener的第二个参数是一个callable对象。这十分类似于JavaScript的回调函数:</p>
<pre><code class="language-PHP">
$dispather-&gt;addListener(
    'foo.action',
    array($listener,'onFooAction')       //a PHP callable
);

$dispather-&gt;addListener(
    'bar.action',
    function(Event $event){              //a PHP callable
        //...
    }
);
</code></pre>
<h2>使用EventSubscriber对象</h2>
<p>EventDispather还支持另外一种风格的监听绑定：</p>
<pre><code class="language-PHP">addSubscriber(EventSubscriberInterface $subscriber);
</code></pre>
<p>此方法接受一个实现了EventSubscriberInterface接口的对象作为参数。该接口非常简单：</p>
<pre><code class="language-PHP">interface EventSubscriberInterface
{
    public static function getSubscribedEvents();
}
</code></pre>
<p>接口方法getSubscribedEvents()返回一个数组，该数组可以是三种方式中的一种：</p>
<ul>
<li>array('eventName' =&gt; 'methodName')</li>
<li>array('eventName' =&gt; array('methodName', $priority))</li>
<li>array('eventName' =&gt; array(array('methodName1', $priority), array('methodName2'))</li>
</ul>
<p>addSubscriber()方法会自动检测接收到的$subscriber对象并解析出合适的方法名，再通过过addListener()方法完成事件绑定监听。其源码及实现分析如下：</p>
<pre><code class="language-PHP">
    public function addSubscriber(EventSubscriberInterface $subscriber)
    {
        foreach ($subscriber-&gt;getSubscribedEvents() as $eventName =&gt; $params) {

            //$subscripter-&gt;getSubscribedEvents   返回的数组类似于: 
            //    array(
            //        'eventName'=&gt;&quot;methodName&quot;,
            //         //... 
            //    )
            if (is_string($params)) {
                $this-&gt;addListener($eventName, array($subscriber, $params));
            }

            //$subscripter-&gt;getSubscribedEvents   返回的数组类似于: 
            //    array(
            //        'eventName'=&gt;array(&quot;methodName&quot;,$priority),
            //         //... 
            //    )
             elseif (is_string($params[0])) {      
                $this-&gt;addListener($eventName, array($subscriber, $params[0]), isset($params[1]) ? $params[1] : 0);
             } 

            //$subscripter-&gt;getSubscribedEvents   返回的数组类似于: 
            //    array(
            //        'eventName'=&gt;array(
            //            array(&quot;methodName1&quot;,$priority)
            //            array(&quot;methodName22&quot;)
            //         ),
            //        //... 
            //    )
             else {
                foreach ($params as $listener) {
                    $this-&gt;addListener($eventName, array($subscriber, $listener[0]), isset($listener[1]) ? $listener[1] : 0);
                }
            }
        }
    }
</code></pre>
<p>可以看到，addSubscriber()始终都是把形如<code>array($subscriber,$methodName)</code>这样的callable传递给addListener。显而易见，一个Subscrber应该有如下的类似形式：</p>
<pre><code class="language-PHP">class StoreSubscriber implements EventSubscriberInterface{
    
    public static function getSubscribedEvents(){
        return array(
            'kernel.repsonse'=&gt;array(
                array('onKernelResponsePre',10),
                array('onKernelResponseMid',5),
                array('onKernelResponsePost',0),
            ),
            'store.order'=&gt;array('onStoreOrder',0)
        );
    }


    public static function onKernelResponsePre{
        //...
    }

    public static function onKernelResponseMid{
        //...
    }

    public static function onKernelResponsePost{
        //...
    }

    public static function onStoreOrder{
        //...
    }
}
</code></pre>
<p>这种十分类似于Java Swing中事件监听接口，比如MouseListener类：</p>
<pre><code class="language-Java">button.addMouseListener(new MouseListener() {

    @Override
    public void mouseClicked(MouseEvent e) {
        System.out.println(&quot;mouseClicked&quot;);
    }

    @Override
    public void mousePressed(MouseEvent e) {
        System.out.println(&quot;鼠标被按住&quot;);
    }


    @Override
    public void mouseReleased(MouseEvent e) {
        System.out.println(&quot;鼠标被释放&quot;);

    }

    @Override
    public void mouseEntered(MouseEvent e) {

        System.out.println(&quot;鼠标被进入&quot;);
    }

    @Override
    public void mouseExited(MouseEvent e) {
        System.out.println(&quot;鼠标被退出&quot;);
    }
});
</code></pre>
<p>Symfony中的EventSubscriber对象为一组事件监听器提供了良好的组织形式，使得代码更具有可读性。</p>

              </div>
            </div>
          </div>
          <div class="card article">
            <div class="card-content">
              <div class="media-content has-text-centered">
                <p class="title article-title">
                  <a href="posts/WindWhisper/PHP/Symfony/配置Symfony.html">
                    Symfony配置
                  </a>
                </p>
                <nav class="breadcrumb">
                  <ul>
                    <li>
                      <a href="">
                        风语
                      </a>
                    </li>
                    <li>
                      <a href="">
                        PHP
                      </a>
                    </li>
                    <li>
                      <a href="">
                        Symfony
                      </a>
                    </li>
                  </ul>
                </nav>
                <p class="post-tags">
                  <a href="tags.html#Symfony">
                    <span class="tag is-info">
                      Symfony
                    </span>
                  </a>
                </p>
                <p class="subtitle is-6 article-subtitle">
                  <a href="#">
                    
                  </a>
                  on 2015-04-10
                </p>
              </div>
              <div class="content article-body">
                <h2>运行环境</h2>
<p>如前所述，Symfony自带三种运行环境，prod、dev、和test。
AppKernel会根据当前运行环境自动加载位于app/config/下的对应的配置文件,如</p>
<ul>
<li>config_dev.yml</li>
<li>config_prod.yml</li>
<li>config_test.yml</li>
</ul>
<p>这些配置文件的加载规则都非常简单，仅仅只是通过拼凑出<code>config_&lt;environment&gt;.yml</code>这样的配置文件名来实现的：</p>
<pre><code class="language-PHP">   # app/AppKernel.php 

    public function registerContainerConfiguration(LoaderInterface $loader) {
        $loader-&gt;load($this-&gt;getRootDir().'/config/config_'.$this-&gt;getEnvironment().'.yml');
    }

</code></pre>
<h2>配置文件的格式</h2>
<p>Symfony支持各类配置格式,默认采用YAML。在YAML中，采用如下约定：</p>
<ol>
<li>imports: 类似于PHP的include，确保要导入的配置文件被优先加载。</li>
<li>顶级entry: 为特定的bundle定义配置。</li>
</ol>
<p>借助于<code>imports</code>可以导入基准的config.yml文件，然后对部分需要修改的部分entry进行覆写操作。</p>
<p>比如：<code>config_dev.yaml</code>结构为：</p>
<pre><code class="language-YAML">imports:
    - { resource: config.yml }

framework:
    router:
        resource: &quot;%kernel.root_dir%/config/routing_dev.yml&quot;
        strict_requirements: true
    profiler: { only_exceptions: false }

web_profiler:
    # ...

monolog:
    # ...

assetic:
    # ...

#swiftmailer:
#    delivery_address: me@example.com
</code></pre>
<p>事实上，Symfony的配置文件都采用了类似的结构。通过这样的导入-覆写操作，可以保持代码独立、避免重复代码（DRY原则）。</p>
<p>在命令行下可以用</p>
<pre><code class="language-Bash">app/console config:dump-reference BundleName
</code></pre>
<p>导出某一个Bundle默认的配置。</p>

              </div>
            </div>
          </div>
          <div class="card article">
            <div class="card-content">
              <div class="media-content has-text-centered">
                <p class="title article-title">
                  <a href="posts/WindWhisper/PHP/Symfony/Config-Component.html">
                    定义和处理配置文件
                  </a>
                </p>
                <nav class="breadcrumb">
                  <ul>
                    <li>
                      <a href="">
                        风语
                      </a>
                    </li>
                    <li>
                      <a href="">
                        PHP
                      </a>
                    </li>
                    <li>
                      <a href="">
                        Symfony
                      </a>
                    </li>
                  </ul>
                </nav>
                <p class="post-tags">
                  <a href="tags.html#Symfony">
                    <span class="tag is-info">
                      Symfony
                    </span>
                  </a>
                </p>
                <p class="subtitle is-6 article-subtitle">
                  <a href="#">
                    
                  </a>
                  on 2015-04-10
                </p>
              </div>
              <div class="content article-body">
                <h2>使用TreeBuilder定义Configuration Vaules的等级结构</h2>
<p>TreeBuilder实例是被一个实现了<code>ConfigurationInterface</code>接口的定制的<code>Configuration</code>类返回的。</p>
<pre><code class="language-PHP">namespace Acme\DatabaseConfiguration;

use Symfony\Component\Config\Definition\ConfigurationInterface;
use Symfony\Component\Config\Definition\Builder\TreeBuilder;

class DatabaseConfiguration implements ConfigurationInterface
{
    public function getConfigTreeBuilder()
    {
        $treeBuilder = new TreeBuilder();
        $rootNode = $treeBuilder-&gt;root('database');

        // ... add node definitions to the root of the tree

        return $treeBuilder;
    }
}
</code></pre>
<h2>向Tree中增加节点定义</h2>
<h3>NodeType</h3>
<ul>
<li>scalar      # 通用类型，包括了booleans,strings,intergers,floats,和null</li>
<li>boolean</li>
<li>interger</li>
<li>float</li>
<li>enum        # 有限集</li>
<li>array</li>
<li>variable    # 无验证</li>
</ul>
<h3>Numeric Node 约束</h3>
<p>提供了<code>min()</code>和<code>max()</code></p>
<pre><code class="language-PHP">$rootNode
    -&gt;children()
        -&gt;integerNode('positive_value')
            -&gt;min(0)
        -&gt;end()
        -&gt;floatNode('big_value')
            -&gt;max(5E45)
        -&gt;end()
        -&gt;integerNode('value_inside_a_range')
            -&gt;min(-50)-&gt;max(50)
        -&gt;end()
    -&gt;end()
;
</code></pre>
<h3>Enum Node</h3>
<pre><code class="language-PHP">$rootNode
    -&gt;children()
        -&gt;enumNode('gender')
            -&gt;values(array('male','female'))
        -&gt;end()
    -&gt;end()
;
</code></pre>
<h3>Array Node</h3>
<p>用以描述更深层次的等级结构,rootNode也算是这样一种数组结构：</p>
<pre><code class="language-PHP">$rootNode
    -&gt;children()
        -&gt;arrayNode('connection')
            -&gt;children()
                -&gt;scalarNode('driver')-&gt;end()
                -&gt;scalarNode('host')-&gt;end()
                -&gt;scalarNode('username')-&gt;end()
                -&gt;scalarNode('password')-&gt;end()
            -&gt;end()
        -&gt;end()
    -&gt;end()
;

</code></pre>
<p>在定义arrayNode的children之前，可以使用以下选项：</p>
<ul>
<li>useAttributeAsKey()</li>
<li>requireAtLeastOneElememt()</li>
<li>addDefaultsIfNotSet()</li>
</ul>
<h3>默认值和必填值</h3>
<p>对于所有的node types，都可以设置默认值，并当一个节点有某些特定值的时候替换alues。</p>
<ul>
<li><code>defaultValue()</code></li>
<li><code>isRequired()</code></li>
<li><code>cannotBeEmpty()</code></li>
<li><code>default*()</code>      #(null,true,false) <code>defaultValue()</code>的shortcut</li>
<li><code>treat*Like()</code>    #(null,true,false) 当值是<code>*</code>的时候进行替换</li>
</ul>
<pre><code class="language-PHP">
$rootNode
    -&gt;children()

        -&gt;arrayNode('connection')
            -&gt;children()

                -&gt;scalarNode('driver')
                    -&gt;isRequired()
                    -&gt;cannotBeEmpty()
                -&gt;end()

                -&gt;scalarNode('host')
                    -&gt;defaultVaule('localhost')
                -&gt;end()

                -&gt;scalarNode('username')-&gt;end()
                -&gt;scalarNode('password')-&gt;end()

                -&gt;booleanNode()
                    -&gt;defaultFalse()
                -&gt;end()

            -&gt;end()
        -&gt;end()


        -&gt;arrayNode('settings')
            -&gt;addDefaultsIfNotSet()
            -&gt;children()
                -&gt;scalarNode('name')
                    -&gt;isRequired()
                    -&gt;cannotBeEmpty()
                    -&gt;defaultValue('value')
                -&gt;end()
            -&gt;end()
        -&gt;end()
        
    -&gt;end()
;

</code></pre>
<h3>Documenting the option</h3>
<p><code>info()</code>方法可以用来生成文档。<code>config:dump-reference</code></p>
<h3>appending sections</h3>
<p>如果有一个复杂的配置，Tree可能变得非常大，你或许想要把它分割成多个部分。你可以把一个section作为独立的节点append到main tree中。</p>
<pre><code class="language-PHP">public function getConfigTreeBuilder(){

    $TreeBuilder=new TreeBuilder;
    $rootNode=$treeBuilder-&gt;root('database');


    $rootNode
        -&gt;children()
            -&gt;arrayNode('connection')
                -&gt;children()
                    -&gt;scalarNode('driver')
                        -&gt;isRequired()
                        -&gt;cannotBeEmpty()
                    -&gt;end()
                    -&gt;scalarNode('host')
                        -&gt;defaultValue('localhost')
                    -&gt;end()
                    -&gt;scalarNode('username')-&gt;end()
                    -&gt;scalarNode('password')-&gt;end()
                    -&gt;booleanNode('memory')
                        -&gt;defaultFalse()
                    -&gt;end()
                -&gt;end()
                -&gt;append($this-&gt;addParametersNode())
            -&gt;end()
        -&gt;end()
    ;
    return $treeBuilder;
}

public function addParametersNode(){

    $builder = new TreeBuilder();
    $node = $builder-&gt;root('parameters');

    $node
        -&gt;isRequired()
        -&gt;requiresAtLeastOneElement()
        -&gt;useAttributeAsKey('name')
        -&gt;prototype('array')
            -&gt;children()
                -&gt;scalarNode('value')-&gt;isRequired()-&gt;end()
            -&gt;end()
        -&gt;end()
    ;

    return $node;
}

</code></pre>
<h3>Normalization</h3>
<p>标准化过程(normalization process)用于消除那些由于不同格式造成的不同，主要是YAML和XML。</p>
<p>在YAML中，keys中的典型分隔符是<code>_</code> ,而XML中的是 <code>-</code> ，例如 在YAML中<code>auto_connect</code> 在XML中是 <code>auto-connect</code>。
normalization 会把这些都变成<code>auto_connect</code>.</p>
<p>另外一个YAML和XML之间的区别是数组取值的表示方法。</p>
<p>YAML:</p>
<pre><code class="language-YAML">twig:
    extensions: ['twig.extension.foo', 'twig.extension.bar']
</code></pre>
<p>XML:</p>
<pre><code class="language-XML">&lt;twig:config&gt;
    &lt;twig:extension&gt;twig.extension.foo&lt;/twig:extension&gt;
    &lt;twig:extension&gt;twig.extension.bar&lt;/twig:extension&gt;
&lt;/twig:config&gt;
</code></pre>
<p>这种复数的区别可以通过fixXmlConfig来消除：</p>
<pre><code class="language-PHP">$rootNode
    -&gt;fixXmlConfig('extension')
    -&gt;children()
        -&gt;arrayNode('extensions')
            -&gt;prototype('scalar')-&gt;end()
        -&gt;end()
    -&gt;end()
;
</code></pre>

              </div>
            </div>
          </div>
          <div class="card article">
            <div class="card-content">
              <div class="media-content has-text-centered">
                <p class="title article-title">
                  <a href="posts/WindWhisper/PHP/Symfony/Service-Container.html">
                    Symfony Service Container
                  </a>
                </p>
                <nav class="breadcrumb">
                  <ul>
                    <li>
                      <a href="">
                        风语
                      </a>
                    </li>
                    <li>
                      <a href="">
                        PHP
                      </a>
                    </li>
                    <li>
                      <a href="">
                        Symfony
                      </a>
                    </li>
                  </ul>
                </nav>
                <p class="post-tags">
                  <a href="tags.html#Symfony">
                    <span class="tag is-info">
                      Symfony
                    </span>
                  </a>
                  <a href="tags.html#IoC">
                    <span class="tag is-info">
                      IoC
                    </span>
                  </a>
                </p>
                <p class="subtitle is-6 article-subtitle">
                  <a href="#">
                    
                  </a>
                  on 2015-04-10
                </p>
              </div>
              <div class="content article-body">
                <p>SOA(service-oriented architecture)是个比较有意思的想法。但是如何实例化这些服务类？直接在需要使用的地方实例化会产生严重的依赖，造成类与类之间的过度耦合。</p>
<p>更一般的讲，当需要在一个类C中使用另外一个类S对象的时候，OOP的新手常常会在类C中直接实例化类S的对象或者寻找S的类对象(可称之为<code>依赖解析</code>)，从而产生了强烈的耦合关系。</p>
<p>IoC(Invention of Control)是一种能更好地解决这类问题的思路:</p>
<p>在C中只针对S声明一个接口对象,类C只负责接口编写逻辑代码,把对S的依赖解析过程从C中分离出去，交给第三方负责。</p>
<p>对比着两种思路，前者是C直接控制了S的实例化，然后再使用S;后者是只声明了SInterface接口对象，然后编写业务逻辑，并不负责S类依赖解析，甚至不管是不是S类(只针对接口编程)，换言之，是把对S依赖解析的控制权交给了第三方去完成。</p>
<p>这就是所谓的控制反转。根据IoC原则，我们需要把对Service类依赖解析的控制权及义务交给第三方(即IoC Container)去完成,而具体服务的使用者只是负责服务的使用。</p>
<p>IoC有三种常见实现方案，工厂模式是非常蛋疼的方式，这里只专注于DI。</p>
<h2>Dependency Injection</h2>
<p>很显然，IoC这个概念本身是要求服务的使用方不要做依赖解析的事儿，因为依赖解析是IoC容器的职责。那么IoC容器是怎么实现依赖解析的？</p>
<p>考虑一个new新建对象的过程：PHP、Java之类的语言，要new一个类对象，最简单的大致都是采用类似于</p>
<pre><code class="language-PHP">$obj=new 类名(构造器的参数列表);
</code></pre>
<p>这种形式，而Python的语法则是:</p>
<pre><code class="language-Python">obj=类名(构造器的参数列表)
</code></pre>
<p>抛开这些语言本身的语法差异不谈，这类new过程都会而且只会提供两个信息：</p>
<ol>
<li>类名</li>
<li>构造器参数</li>
</ol>
<p>也就是说，我们新建一个对象，只要一个类名和相应的构造器参数列表就够了。但是类名是一种硬编码，实现了同一个接口的不同实现会有不同的类名，为了屏蔽这种差异、消除过度耦合，我们可以对服务类绑定相关字符串，这样每次我们需要这个这个服务类对象的时候，只要利用这个字符串就可以了。</p>
<p>Symfony提供了DependencyInjection组件来负责依赖注入事宜。</p>
<p>对于一个类，</p>
<pre><code class="language-PHP">class Mailer{


    private $transport;
    public function __construct($transport){

        $this-&gt;transport=$transport;
    }

}
</code></pre>
<p>可以利用这样的方法进行获得其服务对象：</p>
<pre><code class="language-PHP">use Symfony\Component\DependencyInjection\ContainerBuilder;


$sc=new ContainerBuilder();
$sc-&gt;register('mailer',&quot;Mailer&quot;)
    -&gt;addArgument('sendmail');
</code></pre>
<p>对于已经注册为服务的类，可以用作其他服务的创建参数：</p>
<pre><code class="language-PHP">use Symfony\Component\DependencyInjection\Reference;


$sc-&gt;register(&quot;newsletter_mgr&quot;,&quot;NewsLetterMgr&quot;)
    -&gt;addArgument(new Reference('mailer'))
</code></pre>
<p>除了构造器注入，还支持setter注入：</p>
<pre><code class="language-PHP">
$sc-&gt;register('newsletter_mgr','NewsLetterMgr')
    -&gt;addMethodCall('setMailer',array(new Reference('mailer')));


</code></pre>
<p>当然Symfony还支持Property injection,不过这可能带来一些问题。</p>
<p>通过容易获取注册的服务对象很简单,利用get()即可：</p>
<pre><code class="language-PHP">$svr=$sc-&gt;get('srv_name');
</code></pre>
<h2>用配置文件定义依赖注入</h2>
<p>很显然，容器的实现原理不局限于PHP这门语言，Java、Python或任意的支持OOP的语言都可以采用类似的思路。把以上DI用PHP代码实现并不是唯一可选方案，我们还可以使用跨语言的配置文件（如XML、YAML）来定义服务。当然，这样一来，我们就需要依赖Symfony/Config组件了。</p>
<p>表达上述DI信息的配置文件格式类似于；</p>
<pre><code class="language-YAML">parameters: 
    #...
    mailer.transport: sendmail

services: 
    mailer: 
        class: Mailer
        arguments: [&quot;%mailer.transport%&quot;]
    newsletter_mgr: 
        class: NewsLetterMgr    #contruction injection
        calls:                  #setter injection
            -[setMailer,[&quot;%mailer%&quot;]]
        properties:             #perperty injection
            #...

</code></pre>
<p>加载XML配置文件：</p>
<pre><code class="language-PHP">use Symfony\Component\DependencyInjection\ContainerBuilder;
use Symfony\Component\DependencyInjection\Loader\XmlFileLoader;
use Symfony\Config\FileLocator;


$sc=new ContainerBuilder();
$loader=new XmlFileLoader($sc,new FileLocator(__DIR__));
$Loader-&gt;load('services.xml');

</code></pre>
<p>加载YAML配置文件：</p>
<pre><code class="language-PHP">use Symfony\Component\DependencyInjection\ContainerBuilder;
use Symfony\Component\DependencyInjection\Loader\YamlFileLoader;
use Symfony\Config\FileLocator;


$sc=new ContainerBuilder();
$loader=new YamlFileLoader($sc,new FileLocator(__DIR__));
$Loader-&gt;load('services.yaml');

</code></pre>
<p>如果确实想用PHP来创建服务：</p>
<pre><code class="language-PHP">use Symfony\Component\DependencyInjection\ContainerBuilder;
use Symfony\Component\DependencyInjection\Loader\PhpFileLoader;
use Symfony\Config\FileLocator;


$sc=new ContainerBuilder();
$loader=new PhpFileLoader($sc,new FileLocator(__DIR__));
$Loader-&gt;load('services.php');

</code></pre>

              </div>
            </div>
          </div>
          <div class="card article">
            <div class="card-content">
              <div class="media-content has-text-centered">
                <p class="title article-title">
                  <a href="posts/WindWhisper/PHP/Symfony/Symfony模板系统.html">
                    Symfony 模板系统
                  </a>
                </p>
                <nav class="breadcrumb">
                  <ul>
                    <li>
                      <a href="">
                        风语
                      </a>
                    </li>
                    <li>
                      <a href="">
                        PHP
                      </a>
                    </li>
                    <li>
                      <a href="">
                        Symfony
                      </a>
                    </li>
                  </ul>
                </nav>
                <p class="post-tags">
                  <a href="tags.html#Symfony">
                    <span class="tag is-info">
                      Symfony
                    </span>
                  </a>
                </p>
                <p class="subtitle is-6 article-subtitle">
                  <a href="#">
                    
                  </a>
                  on 2015-04-10
                </p>
              </div>
              <div class="content article-body">
                <p>Template的逻辑命名和Controller的类似，模板的逻辑名称遵循这样的约定：</p>
<p><code>BundleName:ControllerName:TemplateName</code></p>
<p>一般会被映射会这样的物理地址：</p>
<ol>
<li><code>app/Resources/{BundleName}/views/ControllerName/TemplateName</code></li>
<li><code>{path/to/BundleName/}Resources/views/ControllerName/TemplateName</code></li>
</ol>
<p>当第1个地址找不到对应的模板时，会继续查找第2个位置的模板。</p>
<h2>Template Services</h2>
<p>Symfony模板系统的核心是模板引擎(服务)，</p>
<p>从控制器渲染模板：</p>
<pre><code class="language-PHP">return $this-&gt;render('article/index.html.twig');
</code></pre>
<p>与直接使用服务是等价的：</p>
<pre><code class="language-PHP">use Symfony\Component\HttpFoundation\Response;
$engine=$this-&gt;container-&gt;get('templating');
$content=$engine-&gt;render('article/index.html.twig');
$return $response=new Response($content);
</code></pre>
<p>Symfony的模板引擎可以在<code>app/config/config.yml</code>中配置：</p>
<pre><code class="language-YAML">framework: 
    #...
    templating: { engines: ['twig']}
</code></pre>
<h2>Twig模板</h2>
<p>Twig模板的语法和Django模板语法非常相似。Twig提供了三种语法：</p>
<ol>
<li>says sth</li>
</ol>
<pre><code class="language-Twig">{{ ... }}
</code></pre>
<ol start="2">
<li>does sth</li>
</ol>
<pre><code class="language-Twig">// does sth
{% ... %}
</code></pre>
<ol start="3">
<li>comment sth</li>
</ol>
<pre><code class="language-Twig">
{# ... #}
</code></pre>
<h3>Twig链接：</h3>
<pre><code class="language-HTML">&lt;a href=&quot;{{ path(routeName,context) }} &quot; &gt; home &lt;/a&gt;
&lt;img src=&quot;{{ assets(images/logo.png) }}&quot;/&gt;
&lt;link href=&quot;{{ assets(css/blog.css) }}&quot; rel='stylesheet' type='text/css' /&gt;
</code></pre>
<h3>Twig filters:</h3>
<pre><code class="language-PHP">{{ title|upper }}

</code></pre>
<h3>Twig模板嵌入</h3>
<p>为了代码复用，Twig提供了include:</p>
<pre><code class="language-PHP">{% include() %}
</code></pre>
<h3>Twig模板继承与重载:</h3>
<pre><code class="language-PHP">{% extends 'baseTemplateName' %}

{% block XX  %}
    {{ parent() }}
    {# overwrite here #}
{% endblock  %}
</code></pre>
<p>一种常用的模板继承是三层方案。</p>
<ol>
<li>为整个网站创建基础模板<code>app/Resources/views/base.html.twig</code></li>
<li>为某一类特定功能创建模板<code>spec/layout.html.twig</code>(继承自第1层模板)</li>
<li>为每一个单独的页面创建模板 (继承自第2层模板)</li>
</ol>
<h3>Twig模板嵌入其他控制器</h3>
<p>此外，还可以嵌入其他控制器的渲染结果</p>
<pre><code class="language-PHP">{{ render(Controller(&quot;LogicalContrllerName&quot;,context)) }}
</code></pre>
<p>配合hinclude.js，还可以实现异步加载：</p>
<pre><code class="language-PHP">{{ render_hinclude(controller('...')) }}
{{ render_hinclude(url('...')) }}
</code></pre>
<h3>Twig Template转义</h3>
<p>twig系统自带转义，如需原始输出，可以利用raw 过滤函数</p>
<pre><code class="language-PHP">{{ article|raw  }}
</code></pre>
<p>PHP模板，可以使用</p>
<pre><code class="language-PHP">&lt;?php echo $view-&gt;escape($name)?&gt;
</code></pre>
<p>进行转义。</p>
<h3>Twig Macro</h3>
<p><a href="http://twig.sensiolabs.org/doc/templates.html">Twig Macro</a>是非常强大的HTML代码复用手段，它的功能非常类似于C语言的宏：</p>
<pre><code class="language-Twig">{% macro input(name, value = &quot;&quot;, type = &quot;text&quot;, size = 20) %}
    &lt;input type=&quot;{{ type }}&quot; name=&quot;{{ name }}&quot; value=&quot;{{ value|e }}&quot; size=&quot;{{ size }}&quot; /&gt;
{% endmacro %}
</code></pre>
<p>Twig Macro可以在其他单独的文件中定义，然后导入到当前的模板文件中：</p>
<pre><code class="language-Twig">{# 导入整个宏定义文件 #}
{% import &quot;forms.html&quot; as forms %}
{{ forms.input('username') }}

{# 从宏文件中导入某个单独的Macro #}
{% from 'forms.html' import input as input_field %}
{{ input_field('username') }}

</code></pre>
<h3>Twig Use Statement</h3>
<p>Twig的模板继承只支持单继承，Twig还提供了use以帮助我们实现更大程度的代码复用。</p>
<p>use语句告诉Twig去把在某个文件中定义的block块导入到当前模板中。</p>
<pre><code class="language-Twig">{% use &quot;blocks.html&quot; %}
</code></pre>
<p>这一功能类似于对于Macro的import语句，但是use只对block块有效，而且，想use的模板必须满足</p>
<ol>
<li>不extends其他模板。</li>
<li>不定义宏</li>
<li>body为空</li>
</ol>
<p>和针对Macros的import类似，use也支持了导入一部分代码段的功能，同时还提供别名机制来避免命名冲突：</p>
<pre><code class="language-Twig">{% extends &quot;base.html&quot; %}

{% use &quot;blocks.html&quot; with sidebar as base_sidebar, title as base_title %}

{% block sidebar %}{% endblock %}
{% block title %}{% endblock %}
{% block content %}{% endblock %}
</code></pre>
<h2>Template的全局变量</h2>
<p>不管是Twig模板，还是纯PHP模板，Symfony都为之提供了一个变量<code>app</code></p>
<ul>
<li>app.security  #deprecated since 2.6</li>
<li>app.user</li>
<li>app.request</li>
<li>app.session</li>
<li>app.environment</li>
<li>app.debug</li>
</ul>

              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
    <div class="container">
      <div class="container has-text-centered">
        <a href="posts/page27.html">
          Previous
        </a>
        29 of 32
        <a href="posts/page29.html">
          Next
        </a>
      </div>
    </div>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.10.1/katex.min.css" rel="stylesheet"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.10.1/katex.min.js"></script>
    <script>
       // 处理形如 <code>$E=mc^2$</code> 形式的公式
 var inlineMathNodes=document.querySelectorAll('code');
 var re=/^\$(.*)\$$/;
 for(var j=0;j<inlineMathNodes.length;j++){
   var result=re.exec(inlineMathNodes.item(j).innerText);
   if(result!==null){
	 katex.render(result[1], inlineMathNodes.item(j));
   }
 }
 function removeNode(node){
   if(node.remove){
	 node.remove();
   }else{
	 return first.parentNode.removeChild(node);
   }
 };

 // 查找所有 pre code.language-math 节点 以备筛出数据公式
 var nodes=document.querySelectorAll("pre code.language-math");
 for(var i=0;i<nodes.length;i++){
   var node=nodes.item(i);
   // 魔术标记所在行 
   try{
	 var lines = node.innerText.split('\n');
	 if((!!lines) && lines.length > 0)
	 {
	   var first = lines[0];
	   if(first.trim().match(/%%(\s?)*KaTeX(\s?)*/i)){
		 var views = "";
		 // 逐行渲染
		 for(var k=1; k <lines.length; k++){
			 var f=lines[k];
			 views += katex.renderToString(f);
		 }
		 // 消除父级嵌套 
		 try{
		   node.innerHTML=views;
		 }catch(e){
		   // IE9 don't support the method of assignning value to tr.innerHTML. Maybe the code below will be removed in the future
		   console.log('IE9 sucks',e);
		   $(tr).html(node.innerHTML);
		 }
	   }
	 }
   }
   catch(err){
	 console.log(err)
   }
 }
    </script>
    <script>
      hljs.highlightAll();
    </script>
  </body>
</html>