@page
@model RegisterResultModel 
@{
    ViewData["Title"] = "Register";
}

<h2>@ViewData["Title"]</h2>

<div class="row">
    <div class="col-md-12">
        <h3>Lastly, we need to confirm your email</h3>
        <ul class="list-group">
            <li class="list-group-item ">
                <span class="badge progress-bar-success"><i class="glyphicon glyphicon-send "></i></span>
                <span class="text-success">We've sent you an email</span>
            </li>
            <li class="list-group-item"> 
                <span class="badge"><i class="glyphicon glyphicon-check"></i></span> 
                <span>Now go to check the inbox of <b>@Model.Email</b> </span>
            </li>
            <li class="list-group-item"> 
                <span class="badge"><i class="glyphicon glyphicon-check"></i></span> 
                <span>And hit the endpoint ! </span>
            </li>
        </ul>
        <div>
            Or Return the <a href="@Model.ReturnUrl"> <span>url</span> </a> you visisted before without login for the present.
        </div>
    </div>
</div>
@section Scripts {

}


